*{
    margin: 0;

}
p{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #A1CCD1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    background-color: #A1CCD1;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    padding: 0 20px;
    gap: 10px;
}

h1{
    display: block;
    color: #A1CCD1;
    border-radius: 5px;
    background-color: white;
    border: 2px solid white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}
.search{
    display: flex;
    flex: 1;
    /* width: 100%; */
}
.search-form{
    border-radius: 15px;;
    border: 1px #EEF5FF solid;
    flex: 1;
    color: lightgray;
    font-family: 'Open Sans', sans-serif;   
}

button{
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    align-content: stretch;
    font-size: 0.9rem;
    border: 2px #EEF5FF solid;
    background-color: #A1CCD1;
    color: white;
    border-radius: 5px;
}
button:hover{
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    align-content: stretch;
    font-size: 0.9rem;
    border: 2px #A1CCD1 solid;
    background-color: white;
    color: #A1CCD1;
    border-radius: 3px;
}
.nav-bar{
    display: flex;
    gap: 0.8rem;
    align-items: stretch;
    align-content: stretch;

}
.nav-item{
    /* display: block; */
    color: #ECF4D6;
    font-family: 'Open Sans', sans-serif;
    /* background-color: bisque; */
    box-sizing: border-box;
    font-size: 0.9rem;
}
.nav-item:hover{
    color: bisque;
    font-family: 'Open Sans', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* align-items: center; */
    /* width: 100%; */
    /* background-color: white; */
}
.dropdownlist {
    display: flex;
    align-items: center;
    gap: 20px ; /********/
    background-color: white;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    padding: 5px;
    color: #B99470;
    font-style: bold;
}
.dropdown-item{
    background-color: #BBAB8C;
    color: white;
    border-color: white;
    padding-left: 4px;
}

.list-item{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-content: flex-start;
}

.item{
    flex-direction: column;
    max-width: 130px;
    height: fit-content;
    background-color: white;
    border-radius: 1px;
    display: flex;
    border: 1px white solid;
    margin: 0.5rem;
    padding-top: 3px;
    box-shadow:#B06161 ;
}

img {
    display: block;
    border: 1px lightgray solid;
}

.book_name{
    font-size: 0.9rem;
    color: darkslategray;
}
.book_name:hover{
    text-decoration: underline #B06161;
    color: #B06161;
}
.author {
    font-size: 0.8rem;
    font-style: italic;
    color: gray;
    white-space: normal;
}
.author:hover {
    text-decoration: underline #B06161;
    color: #B06161;
}
.price{
    font-size: 0.8rem;
    color: lightslategray;
    text-align: end;
}

footer{
    background-color: #A1CCD1;
    /* background-color: blue; */
    height: 20px;
    align-content: end;
}

@media (max-width:475px){
    header{
        flex-direction: column;
        height: fit-content;
        padding: 8px 0;
    }
}